.projectsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  grid-auto-rows: 1fr;
  width: 100%;
}

@media (max-width: 1000px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}

.projectCardLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}
