.hero {
  margin-left: 368px;
  margin-right: 368px;
  color: white;
  display: flex;
  align-items: center;
  justify-self: start;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.hero p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.heroCredits {
  font-size: 14px !important;
  color: #fc6d36;
  font-family: "Inter", sans-serif !important;
  font-weight: 800;
}

.devisBubble {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fc6d36;
  border-radius: 50%;
  position: relative;
  padding: 76px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.devisBubble button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.testtest {
  position: absolute;
  top: -25px;
  right: -150px;
}

@media (max-width: 1400px) {
  .hero {
    margin-left: 256px;
    margin-right: 256px;
  }
}

@media (max-width: 1200px) {
  .hero {
    margin-left: 128px;
    margin-right: 128px;
  }
}

@media (max-width: 1000px) {
  .hero h1 {
    font-size: 48px;
  }
}

@media (max-width: 800px) {
  .hero {
    margin-left: unset;
    margin-right: unset;
  }
  .heroCredits {
    margin-top: 64px;
  }
  .testtest {
    top: -123px;
    right: 149px;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 14px;
  }
}
