@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar style accross browsers */
html {
  scrollbar-width: thin;
  scrollbar-color: #fc6d36 #1e1e1e;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #fc6d36;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d45e31;
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  background-image: url("/svg/mosaiqueGray.svg");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
}

/* section */

.section {
  display: flex;
  padding: 128px;
  position: relative;
}

@media (max-width: 1200px) {
  .section {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 800px) {
  .section {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

/* sectionFlex */

.sectionFlex {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: unset;
}

/* section h2 */

.section h2 {
  color: white;
  font-size: 48px;
  font-weight: 800;
  font-family: "Teko", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1400px) {
  .section h2 {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .section h2 {
    font-size: 32px;
  }
}

/* Hero section */

@media (max-width: 800px) {
  .sectionHero {
    padding-bottom: 0px;
    padding-top: 128px;
  }
}

/* Advantages section */

@media (max-width: 800px) {
  .sectionAdvantages {
    padding: 32px;
    padding-top: 128px;
  }
}

/* MainValues Section */
.sectionMainValues {
  background-color: #fc6d36;
  background-image: unset;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 calc(100% - 60px));
  position: relative;
}

/* .backgroundCirclesImage {
  position: absolute;
  top: 60px;
  right: 120px;
  width: 30vw;
  height: auto;
  z-index: 1;
} */

/* ProjectsSteps section */

.sectionProjectsSteps {
  justify-content: center;
  flex-direction: column;
  padding-top: unset;
}

/* Expertise Section */

.sectionExpertise {
  padding-top: unset;
  background-color: #fc6e36ee;
  background-image: unset;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 256px;
  padding-right: 256px;
  gap: 32px;
  clip-path: polygon(0 60px, 100% 0, 100% calc(100% - 60px), 0 100%);
}

.sectionExpertise h2 {
  color: black;
  padding-bottom: unset;
}

.sectionExpertise p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1300px) {
  .sectionExpertise {
    padding-left: 128px;
    padding-right: 128px;
  }
}

@media (max-width: 800px) {
  .sectionExpertise p {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .sectionExpertise {
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* Projects Section */

@media (max-width: 1000px) {
  .sectionTestimonials {
    padding: 32px;
  }
  .sectionTeamPresentation {
    padding: 32px;
  }
  .sectionContact {
    padding: 32px;
  }
  .sectionMainValues {
    padding: 32px;
  }
}

/* testimonials Section */

/* teamPresentation Section */

/* TeamStack Section */

.stackLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
  flex-wrap: wrap;
}

.stackLine svg {
  width: 64px;
  height: 64px;
}

.stackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 128px;
}

/* Faq Section */

.sectionFaq {
  padding-top: 192px;
}

.sectionFaq h2 {
  padding-bottom: 16px;
  padding-top: 0px;
  text-align: left;
}

/* Contact Section */

/* Utils */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  padding: 16px;
  z-index: 3;
}

.testtets {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fc6d36;
  border-radius: 50%;
  position: relative;
  padding: 32px;
}

.background-effect {
  transform-origin: center;
  will-change: transform, opacity;
}
