@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.sectionHero {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjIpIiBoZWlnaHQ9IjE4MHB4IiB3aWR0aD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxODAgMTgwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLDIxLjY4YTUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSwwLDg1LjA1Vjk1YTQwLjEsNDAuMSwwLDAsMSwzOS43NywzNS4zN0E1MCw1MCwwLDAsMCwwLDE1OC4zMlYxODBINWE0MC4wOSw0MC4wOSwwLDAsMSwzNS4zNy0zOS43Niw1MC4wOCw1MC4wOCwwLDAsMCwyOCwzOS43Nmg0My4zNmE1MC4wOCw1MC4wOCwwLDAsMCwyOC0zOS43NkE0MC4wOSw0MC4wOSwwLDAsMSwxNzUuMDUsMTgwSDE4MFYxNTguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDE4MCw5NXYtOS45YTQwLjEsNDAuMSwwLDAsMS0zOS43Ny0zNS4zNyw1MCw1MCwwLDAsMCwzOS43Ny0yOFYwaC00Ljk1YTQwLjA5LDQwLjA5LDAsMCwxLTM1LjM3LDM5Ljc2QTUwLjA4LDUwLjA4LDAsMCwwLDExMS42NSwwSDY4LjM1YTUwLjA4LDUwLjA4LDAsMCwwLTI4LDM5Ljc2QTQwLjA5LDQwLjA5LDAsMCwxLDUsMEgwWk05MCwxNzUuMDVhNDAuMSw0MC4xLDAsMCwxLTM5Ljc3LTM1LjM3LDUwLDUwLDAsMCwwLDM5Ljc3LTI4LDUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSw5MCwxNzUuMDVaTTE1OC4zMiw5MGE1MC4wOCw1MC4wOCwwLDAsMC0yOCwzOS43Niw0MCw0MCwwLDAsMSwwLTc5LjUyQTUwLjA4LDUwLjA4LDAsMCwwLDE1OC4zMiw5MFpNOTAsNWE0MC4xLDQwLjEsMCwwLDEsMzkuNzcsMzUuMzdBNTAsNTAsMCwwLDAsOTAsNjguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDkwLDVaTTQ5LjY4LDUwLjI0YTQwLDQwLDAsMCwxLDAsNzkuNTJBNTAuMDgsNTAuMDgsMCwwLDAsMjEuNjgsOTAsNTAuMDgsNTAuMDgsMCwwLDAsNDkuNjgsNTAuMjRaIi8+PC9zdmc+),
    url("/img/bg_1.webp");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
  box-shadow: 0 70px 60px -15px rgba(0, 0, 0, 0.95);
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
}

@media (max-width: 750px) {
  .sectionHero {
    padding-bottom: 0px;
  }
}

.sectionAdvantages {
  box-shadow: 0px -55px 77px 27px rgba(0, 0, 0, 0.75),
    inset 0px 31px 150px -2px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjIpIiBoZWlnaHQ9IjE4MHB4IiB3aWR0aD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxODAgMTgwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLDIxLjY4YTUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSwwLDg1LjA1Vjk1YTQwLjEsNDAuMSwwLDAsMSwzOS43NywzNS4zN0E1MCw1MCwwLDAsMCwwLDE1OC4zMlYxODBINWE0MC4wOSw0MC4wOSwwLDAsMSwzNS4zNy0zOS43Niw1MC4wOCw1MC4wOCwwLDAsMCwyOCwzOS43Nmg0My4zNmE1MC4wOCw1MC4wOCwwLDAsMCwyOC0zOS43NkE0MC4wOSw0MC4wOSwwLDAsMSwxNzUuMDUsMTgwSDE4MFYxNTguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDE4MCw5NXYtOS45YTQwLjEsNDAuMSwwLDAsMS0zOS43Ny0zNS4zNyw1MCw1MCwwLDAsMCwzOS43Ny0yOFYwaC00Ljk1YTQwLjA5LDQwLjA5LDAsMCwxLTM1LjM3LDM5Ljc2QTUwLjA4LDUwLjA4LDAsMCwwLDExMS42NSwwSDY4LjM1YTUwLjA4LDUwLjA4LDAsMCwwLTI4LDM5Ljc2QTQwLjA5LDQwLjA5LDAsMCwxLDUsMEgwWk05MCwxNzUuMDVhNDAuMSw0MC4xLDAsMCwxLTM5Ljc3LTM1LjM3LDUwLDUwLDAsMCwwLDM5Ljc3LTI4LDUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSw5MCwxNzUuMDVaTTE1OC4zMiw5MGE1MC4wOCw1MC4wOCwwLDAsMC0yOCwzOS43Niw0MCw0MCwwLDAsMSwwLTc5LjUyQTUwLjA4LDUwLjA4LDAsMCwwLDE1OC4zMiw5MFpNOTAsNWE0MC4xLDQwLjEsMCwwLDEsMzkuNzcsMzUuMzdBNTAsNTAsMCwwLDAsOTAsNjguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDkwLDVaTTQ5LjY4LDUwLjI0YTQwLDQwLDAsMCwxLDAsNzkuNTJBNTAuMDgsNTAuMDgsMCwwLDAsMjEuNjgsOTAsNTAuMDgsNTAuMDgsMCwwLDAsNDkuNjgsNTAuMjRaIi8+PC9zdmc+),
    url("/img/bg_2.webp");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
  display: flex;
  padding: 128px;
}

@media (max-width: 800px) {
  .sectionAdvantages {
    padding: 32px;
    padding-top: 128px;
  }
}

.sectionMainValues {
  background-color: #fc6d36;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 32px;
  padding-bottom: 32px;
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 calc(100% - 60px));

  position: relative;
}

.backgroundCirclesImage {
  position: absolute;
  top: 60px;
  right: 120px;
  width: 30vw;
  height: auto;
  z-index: 1;
}

.sectionTestimonials {
  box-shadow: 0px -55px 77px 27px rgba(0, 0, 0, 0.75),
    inset 0px 117px 98px -26px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0);
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionTestimonials h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
}

.sectionTeamPresentation {
  box-shadow: 0px -55px 77px 27px rgba(0, 0, 0, 0.75),
    inset 0px 117px 98px -26px rgba(0, 0, 0, 1),
    inset 23px -135px 98px -26px rgba(0, 0, 0, 1);
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjIpIiBoZWlnaHQ9IjE4MHB4IiB3aWR0aD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxODAgMTgwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLDIxLjY4YTUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSwwLDg1LjA1Vjk1YTQwLjEsNDAuMSwwLDAsMSwzOS43NywzNS4zN0E1MCw1MCwwLDAsMCwwLDE1OC4zMlYxODBINWE0MC4wOSw0MC4wOSwwLDAsMSwzNS4zNy0zOS43Niw1MC4wOCw1MC4wOCwwLDAsMCwyOCwzOS43Nmg0My4zNmE1MC4wOCw1MC4wOCwwLDAsMCwyOC0zOS43NkE0MC4wOSw0MC4wOSwwLDAsMSwxNzUuMDUsMTgwSDE4MFYxNTguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDE4MCw5NXYtOS45YTQwLjEsNDAuMSwwLDAsMS0zOS43Ny0zNS4zNyw1MCw1MCwwLDAsMCwzOS43Ny0yOFYwaC00Ljk1YTQwLjA5LDQwLjA5LDAsMCwxLTM1LjM3LDM5Ljc2QTUwLjA4LDUwLjA4LDAsMCwwLDExMS42NSwwSDY4LjM1YTUwLjA4LDUwLjA4LDAsMCwwLTI4LDM5Ljc2QTQwLjA5LDQwLjA5LDAsMCwxLDUsMEgwWk05MCwxNzUuMDVhNDAuMSw0MC4xLDAsMCwxLTM5Ljc3LTM1LjM3LDUwLDUwLDAsMCwwLDM5Ljc3LTI4LDUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSw5MCwxNzUuMDVaTTE1OC4zMiw5MGE1MC4wOCw1MC4wOCwwLDAsMC0yOCwzOS43Niw0MCw0MCwwLDAsMSwwLTc5LjUyQTUwLjA4LDUwLjA4LDAsMCwwLDE1OC4zMiw5MFpNOTAsNWE0MC4xLDQwLjEsMCwwLDEsMzkuNzcsMzUuMzdBNTAsNTAsMCwwLDAsOTAsNjguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDkwLDVaTTQ5LjY4LDUwLjI0YTQwLDQwLDAsMCwxLDAsNzkuNTJBNTAuMDgsNTAuMDgsMCwwLDAsMjEuNjgsOTAsNTAuMDgsNTAuMDgsMCwwLDAsNDkuNjgsNTAuMjRaIi8+PC9zdmc+),
    url("/img/bg_4.webp");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionTeamPresentation h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
}

.sectionContact {
  box-shadow: 0px -55px 77px 27px rgba(0, 0, 0, 0.75),
    inset 0px 117px 98px -26px rgba(0, 0, 0, 1),
    inset 23px -135px 98px -26px rgba(0, 0, 0, 1);
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjIpIiBoZWlnaHQ9IjE4MHB4IiB3aWR0aD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxODAgMTgwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLDIxLjY4YTUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSwwLDg1LjA1Vjk1YTQwLjEsNDAuMSwwLDAsMSwzOS43NywzNS4zN0E1MCw1MCwwLDAsMCwwLDE1OC4zMlYxODBINWE0MC4wOSw0MC4wOSwwLDAsMSwzNS4zNy0zOS43Niw1MC4wOCw1MC4wOCwwLDAsMCwyOCwzOS43Nmg0My4zNmE1MC4wOCw1MC4wOCwwLDAsMCwyOC0zOS43NkE0MC4wOSw0MC4wOSwwLDAsMSwxNzUuMDUsMTgwSDE4MFYxNTguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDE4MCw5NXYtOS45YTQwLjEsNDAuMSwwLDAsMS0zOS43Ny0zNS4zNyw1MCw1MCwwLDAsMCwzOS43Ny0yOFYwaC00Ljk1YTQwLjA5LDQwLjA5LDAsMCwxLTM1LjM3LDM5Ljc2QTUwLjA4LDUwLjA4LDAsMCwwLDExMS42NSwwSDY4LjM1YTUwLjA4LDUwLjA4LDAsMCwwLTI4LDM5Ljc2QTQwLjA5LDQwLjA5LDAsMCwxLDUsMEgwWk05MCwxNzUuMDVhNDAuMSw0MC4xLDAsMCwxLTM5Ljc3LTM1LjM3LDUwLDUwLDAsMCwwLDM5Ljc3LTI4LDUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSw5MCwxNzUuMDVaTTE1OC4zMiw5MGE1MC4wOCw1MC4wOCwwLDAsMC0yOCwzOS43Niw0MCw0MCwwLDAsMSwwLTc5LjUyQTUwLjA4LDUwLjA4LDAsMCwwLDE1OC4zMiw5MFpNOTAsNWE0MC4xLDQwLjEsMCwwLDEsMzkuNzcsMzUuMzdBNTAsNTAsMCwwLDAsOTAsNjguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDkwLDVaTTQ5LjY4LDUwLjI0YTQwLDQwLDAsMCwxLDAsNzkuNTJBNTAuMDgsNTAuMDgsMCwwLDAsMjEuNjgsOTAsNTAuMDgsNTAuMDgsMCwwLDAsNDkuNjgsNTAuMjRaIi8+PC9zdmc+),
    url("/img/bg_5.webp");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionContact h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: auto;
  padding: 16px;
  z-index: 3;
}

.sectionProjects {
  box-shadow: 0px -55px 77px 27px rgba(0, 0, 0, 0.75),
    inset 0px 117px 98px -26px rgba(0, 0, 0, 1),
    inset 23px -135px 98px -26px rgba(0, 0, 0, 1);
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDAsMCwwLjIpIiBoZWlnaHQ9IjE4MHB4IiB3aWR0aD0iMTgwcHgiIHZpZXdCb3g9IjAgMCAxODAgMTgwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLDIxLjY4YTUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSwwLDg1LjA1Vjk1YTQwLjEsNDAuMSwwLDAsMSwzOS43NywzNS4zN0E1MCw1MCwwLDAsMCwwLDE1OC4zMlYxODBINWE0MC4wOSw0MC4wOSwwLDAsMSwzNS4zNy0zOS43Niw1MC4wOCw1MC4wOCwwLDAsMCwyOCwzOS43Nmg0My4zNmE1MC4wOCw1MC4wOCwwLDAsMCwyOC0zOS43NkE0MC4wOSw0MC4wOSwwLDAsMSwxNzUuMDUsMTgwSDE4MFYxNTguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDE4MCw5NXYtOS45YTQwLjEsNDAuMSwwLDAsMS0zOS43Ny0zNS4zNyw1MCw1MCwwLDAsMCwzOS43Ny0yOFYwaC00Ljk1YTQwLjA5LDQwLjA5LDAsMCwxLTM1LjM3LDM5Ljc2QTUwLjA4LDUwLjA4LDAsMCwwLDExMS42NSwwSDY4LjM1YTUwLjA4LDUwLjA4LDAsMCwwLTI4LDM5Ljc2QTQwLjA5LDQwLjA5LDAsMCwxLDUsMEgwWk05MCwxNzUuMDVhNDAuMSw0MC4xLDAsMCwxLTM5Ljc3LTM1LjM3LDUwLDUwLDAsMCwwLDM5Ljc3LTI4LDUwLDUwLDAsMCwwLDM5Ljc3LDI4QTQwLjEsNDAuMSwwLDAsMSw5MCwxNzUuMDVaTTE1OC4zMiw5MGE1MC4wOCw1MC4wOCwwLDAsMC0yOCwzOS43Niw0MCw0MCwwLDAsMSwwLTc5LjUyQTUwLjA4LDUwLjA4LDAsMCwwLDE1OC4zMiw5MFpNOTAsNWE0MC4xLDQwLjEsMCwwLDEsMzkuNzcsMzUuMzdBNTAsNTAsMCwwLDAsOTAsNjguMzJhNTAsNTAsMCwwLDAtMzkuNzctMjhBNDAuMSw0MC4xLDAsMCwxLDkwLDVaTTQ5LjY4LDUwLjI0YTQwLDQwLDAsMCwxLDAsNzkuNTJBNTAuMDgsNTAuMDgsMCwwLDAsMjEuNjgsOTAsNTAuMDgsNTAuMDgsMCwwLDAsNDkuNjgsNTAuMjRaIi8+PC9zdmc+),
    url("/img/bg_5.webp");
  background-size: 12px auto, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionProjects h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: 1000px) {
  .sectionProjects {
    padding: 32px;
  }
  .sectionTestimonials {
    padding: 32px;
  }
  .sectionTeamPresentation {
    padding: 32px;
  }
  .sectionContact {
    padding: 32px;
  }
  .sectionMainValues {
    padding: 32px;
  }
}

.sectionExpertise {
  background-color: #fc6e36ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 256px;
  padding-right: 256px;
  padding-bottom: 128px;
  gap: 32px;
  clip-path: polygon(0 60px, 100% 0, 100% calc(100% - 60px), 0 100%);
}

.sectionExpertise h2 {
  font-size: 48px;
  font-weight: 800;
  font-family: "Teko", sans-serif;
  padding-top: 64px;
  text-transform: uppercase;
  text-align: center;
}

.sectionExpertise p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1300px) {
  .sectionExpertise {
    padding-left: 128px;
    padding-right: 128px;
  }
}

@media (max-width: 800px) {
  .sectionExpertise {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.testtets {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fc6d36;
  border-radius: 50%;
  position: relative;
  padding: 32px;
}

.background-effect {
  transform-origin: center;
  will-change: transform, opacity;
}

.stackLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 128px;
}

.stackLine svg {
  width: 64px;
  height: 64px;
}

.stackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 128px;
}

.sectionTeamStack {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 64px;
}

.sectionTeamStack h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-bottom: 128px;
}

.sectionProjectsSteps {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionProjectsSteps h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding-bottom: 64px;
  padding-top: 32px;
  text-align: center;
  text-transform: uppercase;
}

.sectionFaq {
  background-color: black;
  display: flex;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 128px;
}

.sectionFaq h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
