.contactPopup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  gap: 20px;
  height: 50px;
  margin-left: 50%;
  transform: translate(-50%, -100px);
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  transition-duration: 0.2s;
  z-index: 15;
}

.popupConfirmationAnim {
  transform: translate(-50%, 20px);
}

.popupErrorAnim {
  transform: translate(-50%, 20px);
}

.opa0 {
  opacity: 0;
}
