.expertiseCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: calc((100% - 32px) / 3);
  min-height: 300px;
  padding: 24px;
  box-sizing: border-box;
}

.expertiseCard h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.expertiseCard p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.expertiseCard svg {
  width: 64px;
  height: 64px;
}

@media (max-width: 1200px) {
  .expertiseCard {
    width: calc((100% - 16px) / 2);
  }
}

@media (max-width: 1000px) {
  .expertiseCard {
    width: 100%;
  }
}
