.testimonialsContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.testimonialsSlider {
  display: flex;
  width: fit-content;
}

.testimonialSlide {
  flex-shrink: 0;
  padding: 0 16px;
  transition: all 0.3s ease;
}

.testimonialSlide:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .testimonialSlide {
    padding: 0 12px;
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .testimonialSlide {
    padding: 0 8px;
    width: 100%;
  }
}
