@keyframes fadeDropIn {
  0% {
    opacity: 1;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDropIn {
  animation: fadeDropIn 0.1s ease-out forwards;
}
