.mainValueCard {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  border-radius: 32px;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  font-family: Helvetica, sans-serif;
  color: black;
  z-index: 2;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

@media (max-width: 800px) {
  .mainValueCard {
    padding: 16px;
    gap: 8px;
  }
}

.mainValueCard:hover {
  transform: translate(0, -8px) scale(1.05);
}

.mainValueCard svg {
  width: 32px;
  height: 32px;
}

.mainValueCard h4 {
  font-size: 36px;
  font-weight: 700;
}

.mainValueCard p {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .mainValueCard h4 {
    font-size: 24px;
  }
  .mainValueCard p {
    font-size: 16px;
  }
  .mainValueCard svg {
    width: 28px;
    height: 28px;
  }
}
