.advantagesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 64px;
  margin-left: 128px;
  margin-right: 128px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .advantagesCards {
    margin-left: 128px;
    margin-right: 128px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .advantagesCards {
    margin-left: unset;
    margin-right: unset;
  }
}
