.expertisesContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media (max-width: 1200px) {
  .expertisesContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .expertisesContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
